{% extends "layout.html" %}

    {% block content %}

    <section id="about" class="content-section text-center">
      <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <form method='POST' enctype="multipart/form-data">
                <div class="form-group text-left">
                  <label for="exampleInputFile">File input</label>
                  <input type="file" class="form-control-file" name="file"
                  type="file" accept=".pdf" aria-describedby="fileHelp">
                </div>

                <div class="form-group text-left">
                  <br>
                  <div><label for="exampleInputEmail1">Company Size</label></div>
                  <ul class="size">
                    <li>
                        <input class='btn btn-secondary' name ='size' type="radio" value='1' id="1"/>
                        <label for="1">1-10</label>
                    </li>
                    <li>
                        <input class='btn btn-secondary' name ='size' type="radio" value='11' id="11"/>
                        <label for="11">11-50</label>
                    </li>
                    <li>
                        <input class='btn btn-secondary' name ='size' type="radio" value='51' id="51"/>
                        <label for="51">51-100</label>
                    </li>
                    <li>
                        <input class='btn btn-secondary' name ='size' type="radio" value='101' id="101"/>
                        <label for="101">101-250</label>
                    </li>
                    <li>
                        <input class='btn btn-secondary' name ='size' type="radio" value='251' id="251"/>
                        <label for="251">251-500</label>
                    </li>
                    <li>
                        <input class='btn btn-secondary' name ='size' type="radio" value='500' id="500"/>
                        <label for="500">500+</label>
                    </li>
                  </ul>
                </div>
                <br>
                <div class="form-group text-left">
                  <br>
                  <div><label for="exampleInputEmail1">Funding Round</label></div>
                  <ul class="size">
                    <!-- <li>
                      <input class='btn btn-secondary' name ='funding' type="radio" value='seed' id="seed"/>
                      <label for="seed">Seed</label>
                    </li> -->
                    <li>
                      <input class='btn btn-secondary' name ='funding' type="radio" value='A' id="A"/>
                      <label for="A">Series A</label>
                    </li>
                    <li>
                      <input class='btn btn-secondary' name ='funding' type="radio" value='B' id="B"/>
                      <label for="B">Series B</label>
                    </li>
                    <li>
                      <input class='btn btn-secondary' name ='funding' type="radio" value='C' id="C"/>
                      <label for="C">Series C</label>
                    </li>
                    <li>
                      <input class='btn btn-secondary' name ='funding' type="radio" value='D' id="D"/>
                      <label for="D">Series D</label>
                    </li>
                    <li>
                      <input class='btn btn-secondary' name ='funding' type="radio" value='E' id="E"/>
                      <label for="E">Series E</label>
                    </li>
                    <li>
                      <input class='btn btn-secondary' name ='funding' type="radio" value='F' id="F"/>
                      <label for="F">Series F</label>
                    </li>
                  </ul>
                </div>
                <br>
                <br></br>
                <br></br>
                <br></br>
                  <button class="btn btn-default btn-lg">Show Me</button>
              </form>
            </section>
{% endblock %}
